<!-- 
@{
     var item = Sitecore.Context.Database.GetItem("{71E0F566-C0AB-421B-937C-6F2E16E92BCC}");
} -->

<!-- <div>
        Footer
        @Html.Sitecore().Field("Copyright", item)
        Copyright 2021
</div>	 -->

<div class="container">
	  <div class="text-white bg-primary">
		<p class="lead">Copyright 2021</p>
	  </div>
	</div>
